{
  "arrowParens": "always",
  "bracketSpacing": false,
  "endOfLine": "lf",
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "useTabs": false,
  "tabWidth": 2,
  "overrides": [
    {
      "files": "Markdown",
      "options": {
        "tabWidth": 4,
        "useTabs": true
      }
    },
    {
      "files": "*.ts",
      "options": {
        "semi": false
      }
    }
  ]
}
